<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      poner algo acá
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AlgunTitulo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <a routerLink="/listado-dispositivos/1" routerLinkActive="active" ariaCurrentWhenActive="page">BOTONAZO</a>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
