<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalles dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalles dispositivo</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (dispositivo) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ dispositivo.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ dispositivo.ubicacion }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p><strong>ID:</strong> {{ dispositivo.dispositivoId }}</p>
        <p><strong>Ubicación:</strong> {{ dispositivo.ubicacion }}</p>
        <ion-toggle [(ngModel)]="estadoValvula"  (ionChange)="onToggle()"> Válvula </ion-toggle>
        
        <ion-button size="small" [routerLink]="['/mediciones', dispositivo.dispositivoId]">
          Mediciones
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-button routerLink="/home">Home</ion-button>
  }
</ion-content>

