<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mediciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mediciones</ion-title>
    </ion-toolbar>
  </ion-header>

      <ion-list>
      @for (m of mediciones; track m.medicionId) {
        <ion-item>
          <ion-label>
            <h2>Valor: {{ m.valor }}</h2>
            <p>Fecha: {{ m.fecha }}</p>
          </ion-label>
        </ion-item>
      }
      </ion-list>
        <ion-button size="small" [routerLink]="['/listado-dispositivos', dispositivoId]">
          Volver
        </ion-button>
    <ion-button routerLink="/home">Home</ion-button>
</ion-content>

